<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
        <div class="top-bar">
            <div class="container">
              <div class="row">
                <div class="col-9 social">
                  <a href="https://twitter.com/Meetup"><span class="fa fa-twitter"></span></a>
                  <a href="https://www.facebook.com/meetup/"><span class="fa fa-facebook"></span></a>
                  <a href="https://www.instagram.com/meetup/?hl=en"><span class="fa fa-instagram"></span></a>
                  <a href="https://www.youtube.com/meetup"><span class="fa fa-youtube-play"></span></a>
                  <a href="https://vimeo.com/meetuphq"><span class="fa fa-vimeo"></span></a>
                </div>
              </div>
            </div>
          </div>
    
          
    </header>
    <div class="yeld" id='div_yeld'>
      <%= yield %>
    </div>

    <footer>
      <p>Created by Gustavo de Mattos - 2018</p>
    </footer>
    
    <%= javascript_include_tag 'application'%>

  </body>
</html>
